<!-- app/views/layouts/_footer.html.erb -->
<footer class="footer py-4 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left mb-4 mb-lg-0">
                <h5 class="footer-heading">Company Information</h5>
                <ul class="list-unstyled">
                    <li>Registered Company Number: 16310912</li>
                    <li>VAT NO: GB XX-XX-XXXX</li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-center mb-4 mb-lg-0">
                <h5 class="footer-heading">Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Business Consultancy</a></li>
                    <li><a href="#!">Digital Transformation</a></li>
                    <li><a href="#!">Enterprise Data Strategy & Advisory</a></li>
                    <li><a href="#!">Case Studies</a></li>
                    <li><a href="#!">Contact Detail</a></li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-right mb-4 mb-lg-0">
                <h5 class="footer-heading">Contact Us</h5>
                <p>Feel free to contact & reach us!</p>
                <p>Office Address: 11, Norman Road, Ilford Lane, London IG12NH</p>
            </div>
        </div>
    </div>
</footer>