<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container" style="max-width: 960px;">
        <!-- Logo -->
        <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag "navbar-logo.png", alt: "LLW logo", class: "navbar-logo"%>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            Menu <i class="fas fa-bars ml-1"></i>
        </button>


        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto d-flex gap-3">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item ml-3"><a class="nav-link js-scroll-trigger" href="<%= root_path %>">Home</a></li>

                    <li class="nav-item ml-3"><a class="nav-link js-scroll-trigger" href="javascript:history.back()">Back</a></li>

                </ul>
        </div>

    </div>
</nav>